<h1>募集詳細画面</h1>
<tr>
    <td>今遊ぶ？<%= @recruitment.play_now %></td>
    <td>ゲームタイトル<%= @recruitment.game_title %></td>
    <td>コメント<%= @recruitment.comment %></td>
    <td>機種<%= @recruitment.machine %></td>
    <td>画像<%= @recruitment.image %></td>
    <td>オンライン？オフライン？<%= @recruitment.on_off %></td>
    <td>目的<%= @recruitment.purpouse %></td>
</tr>
<%= link_to "編集する", edit_recruitment_path(@recruitment.id) %>
<%= link_to '募集を削除する', recruitment_path(@recruitment.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
<p>
<%= link_to '募集一覧へ', recruitments_path %>
</p>