<h1>募集詳細画面</h1>
<tr>
<td><%= @recruitment.play_now %></td>
<td><%= @recruitment.game_title %></td>
<td><%= @recruitment.comment %></td>
<td><%= @recruitment.machine %></td>
<td><%= @recruitment.image %></td>
<td><%= @recruitment.on_off %></td>
<td><%= @recruitment.purpouse %></td>
</tr>